[Unit]
After=network-online.target
Description=Install docker registry
Documentation=https://github.com/docker/docker-registry
Requires=network-online.target

[Service]
ExecStart=/bin/bash -c "if [ ! -d /home/core/docker-registry ];then /usr/bin/git clone https://github.com/docker/docker-registry.git /home/core/docker-registry; fi"
ExecStart=/usr/bin/cp /home/core/docker-registry/config/config_sample.yml /home/core/docker-registry/config.yml
ExecStart=/usr/bin/docker build -t jveverka/registry /home/core/docker-registry
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
X-ConditionMachineID={{ registry_host.results[0].ID }}
