[Unit]
Description=Zookeper server
After=docker.service
Requires=docker.service

[Service]
{% set hosts = zookeeper_hosts.stdout|from_json %}
Environment='ZOO_HOSTS_INFO={% for host in hosts %}{{ host }}:2888:3888 {% endfor %}'
ExecStart=/usr/bin/docker run --rm --name zookeeper --net="host" -e ZOO_HOSTS_INFO=${ZOO_HOSTS_INFO} -e ZOO_NODE_NUM={{ item }} -p 2181:2181 -p 2888:2888 -p 3888:3888 jveverka/zookeeper
ExecStop=/usr/bin/docker rm -f zookeeper

[X-Fleet]
X-Conflicts=zookeeper.*.service
