[Unit]
Description=Marathon service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --net=\"host\" --name marathon -e ZOOKEEPER_ENDPOINTS=`/var/lib/scripts/get_zookeeper_endpoints.sh` -p 8080:8080 {{ marathon_image_name }}"
ExecStop=/usr/bin/docker rm -f marathon

[X-Fleet]
X-Conflicts=marathon.*.service
