[Unit]
Description=Mesos Slave service
After=docker.service
After=zookeeper.1.service
After=mesos-master.1.service
Requires=docker.service
Requires=zookeeper.1.service
Requires=mesos-master.1.service

[Service]
ExecStart=/bin/bash -c "/usr/bin/docker run --rm -v /usr/lib64/libdevmapper.so.1.02:/usr/lib/libdevmapper.so.1.02 -v /var/run/docker.sock:/var/run/docker.sock -e ZOOKEEPER_ENDPOINTS=`/var/lib/scripts/get_zookeeper_endpoints.sh` -p 5051:5051 --name mesos-slave jveverka/mesos-slave"
ExecStop=/usr/bin/docker rm -f mesos-slave

[X-Fleet]
X-Conflicts=mesos-slave.*.service
X-ConditionMachineOf=mesos-master.1.service
