[Unit]
Description=Mesos Master service
After=docker.service
After=zookeeper.1.service
Requires=docker.service
Requires=zookeeper.1.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --net=\"host\" -e ZOOKEEPER_ENDPOINTS=`/var/lib/scripts/get_zookeeper_endpoints.sh` -e COREOS_PUBLIC_IPV4=${COREOS_PUBLIC_IPV4} --name mesos-master -p 5050:5050 jveverka/mesos-master"
ExecStop=/usr/bin/docker rm -f mesos-master

[X-Fleet]
X-Conflicts=mesos-master.*.service
