[Unit]
Description=Announce Mesos Master
BindsTo=mesos-master.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/website/mesos-master1 '{ \"host\": \"%H\", \"ports\": [ 5050 ] }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/website/mesos-master1

[X-Fleet]
X-ConditionMachineOf=mesos-master.1.service
