[Unit]
Description=Zookeper server
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name zookeeper -p 2181:2181 -p 2888:2888 -p 3888:3888 jveverka/zookeeper
ExecStop=/usr/bin/docker rm -f zookeeper

[X-Fleet]
X-Conflicts=zookeeper.*.service
