[Unit]
Description=Announce Zookeeper
BindsTo=zookeeper.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/website/zookeeper1 '{ \"host\": \"%H\", \"ports\": [ 2181, 2888, 3888] }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/website/zookeeper1

[X-Fleet]
X-ConditionMachineOf=zookeeper.1.service
