[Unit]
Description=Zookeper server
After=docker.service
Requires=docker.service

[Service]
Environment='ZOO_HOSTS_INFO=172.17.8.103:2888:3888 172.17.8.102:2888:3888 172.17.8.101:2888:3888 '
ExecStart=/usr/bin/docker run --rm --name zookeeper --net="host" -e ZOO_HOSTS_INFO=${ZOO_HOSTS_INFO} -e ZOO_NODE_NUM=1 -p 2181:2181 -p 2888:2888 -p 3888:3888 jveverka/zookeeper
ExecStop=/usr/bin/docker rm -f zookeeper

[X-Fleet]
X-Conflicts=zookeeper.*.service
